{{ form_start(form) }}

<div class="form-row">
	<div class="col-md-3 mb-4">
		{{ form_widget(form.sousCategory) }}
	</div>
	<div class="col-md-3 mb-4"></div>
	<div class="col-md-3 mb-4"></div>
	<div class="col-md-3 mb-4"></div>
</div>

<div class="form-row">
	<div class="col-md-3 mb-4"></div>
	<div class="col-md-3 mb-4">
		{{ form_widget(form.imageFile) }}
	</div>
	<div class="col-md-3 mb-4"></div>
	<div class="col-md-3 mb-4"></div>
</div>

<div class="form-row">
	<div class="col-md-3 mb-4"></div>
	<div class="col-md-3 mb-4"></div>
	<div class="col-md-3 mb-4">
		{{ form_widget(form.description) }}
	</div>
	<div class="col-md-3 mb-4"></div>
</div>

<div class="form-row">
	<div class="col-md-3 mb-4"></div>
	<div class="col-md-3 mb-4"></div>
	<div class="col-md-3 mb-4"></div>
	<div class="col-md-3 mb-4">
		{{ form_widget(form.prix) }}
	</div>
</div>
<div class="form-row">
	<div class="col-md-2 mb-6"></div>
	<div class="col-md-2 mb-6"></div>
	<div class="col-md-2 mb-6"></div>
	<div class="col-md-2 mb-6"></div>
	<div class="col-md-2 mb-6"></div>
	<div class="col-md-2 mb-6">
		<a href="{{ path('publication_index') }}" class="btn-save btn btn-default btn-sm btn-rounded">
			<i class="far fa-hand-point-left"></i>
		</a>
		<button type="submit" class="btn-save btn btn-success btn-sm btn-rounded">
			<i class="fas fa-save"></i>
		</button>

	</div>
</div>
{{ form_end(form) }}
