{% extends 'base.html.twig' %}

{% block title %}Sous Category index
{% endblock %}

{% block body %}
	<h1>Sous Category index
		<a class="btn-save btn btn-default btn-sm btn-rounded" href="{{ path('sous_category_new') }}">
			<i class="fas fa-plus-square"></i>
		</a>
	</h1>
	<div class="container pt-5 my-5 z-depth-1">
		<section class="p-md-3 mx-md-5 text-center">
			<h2 class="text-center mx-auto font-weight-bold mb-4 pb-2">Liste des sous catégories</h2>
			<div class="row">
				{% for sous_category in sous_categories %}
					<div class="col-lg-3 col-md-4 col-sm-6 mb-3">
						<div class="p-5">
							<div class="avatar w-100 white d-flex justify-content-center align-items-center">
								<a>
									{% if sous_category.filename %}
										<a href="{{ path('sous_category_show', {'id': sous_category.id}) }}">
											<img src="/images/products/{{sous_category.filename}}" class="img-fluid">
										</a>
									{% else %}
										<a href="{{ path('sous_category_show', {'id': sous_category.id}) }}">
											<img src="/images/public/no-image.png" class="img-fluid">
										</a>
									{% endif %}
								</a>
							</div>
							<div class="text-center mt-3">
								<h6 class="font-weight-bold pt-2">{{sous_category.name}}
								</h6>
								<p class="text-muted">
									<a class"btn btn-primary" href="{{ path('sous_category_edit', {'id': sous_category.id}) }}">
										<i class="far fa-edit fa-2x"></i>
									</a>
									<a class"btn btn-primary" href="{{ path('sous_category_edit', {'id': sous_category.id}) }}">
										<i class="fas fa-trash-alt red-text fa-2x"></i>
									</a>
								</p>
							</div>
						</div>
					</div>
				{% else %}
					<div class="card hoverable mb-4">
						<div class="card-body">
							<div class="row align-items-center">
								<div class="col-3 px-0">
									<a>
										<a>
											<img src="images/public/no-image.png" class="img-fluid">
										</a>
									</a>
								</div>
								<div class="col-6">
									<a>
										<strong>Liste vide ..... !!!</strong>
									</a>
									<h6 class="h6-responsive font-weight-bold dark-grey-text">
										<strong>-----------------</strong>
									</h6>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</section>
	</div>

	<!-- Card -->


{% endblock %}
